*.mov filter=lfs diff=lfs merge=lfs -text
dist/Osu!Radio/_internal/Background[[:space:]]Video/*.mov filter=lfs diff=lfs merge=lfs -text
adada/ffmpeg_bin/linux/bin/* filter=lfs diff=lfs merge=lfs -text
